// out: Jerry.css
@teal: #009688;
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);

// bootstrap
@import "bootstrap/less/bootstrap.less";

body {
	font-family: 'Open Sans Condensed', sans-serif;
}

#inner {
	font-family: 'Open Sans Condensed', sans-serif;
	align-content: center;
	margin-left: auto;
	margin-right: auto;
	font-size: 30px;
	opacity: 0.5;
	filter: Alpha(opacity=50);
	color: #668080;
	}

.Clang {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 40px;
	text-align: center;
	}

#Code1 {
	color: #FF3300
	}

#code2 {
	color: #00FF00
	}

#code3 {
	color: #0033CC
	}

#code4 {
	color: #E6B800
	}


.Edu {
	font-family: 'Droid Sans', sans-serif;
	font-size: 20px;
	text-align: center;
	color: #008A00
	}

#about {
	font-family: 'Roboto Slab', serif;
	text-align: center;
	font-size: 30px;
	color: #fff
	}

.Contact {
	font-family: 'Arvo', serif;
	font-size: 15px;
	text-align: center;
	color: #CC0066

	}

.logo {
	margin: 0px auto;
	display: block;
	width: 450px;
}

ul {
	list-style: none;
}

.jumbotron {
	background: #009688;
	color: #FFF;
	margin-bottom: 0px;

	font-family: 'Open Sans Condensed', sans-serif;

	h1, h2 {
		text-align: center;
	}
}

.top-teal {
	background: #009688;

	.container.logo-container {

		img.logo {
			margin-top: 250px;
		}

		img.sun {
			width: 300px;
			margin: 50px auto 0px auto;
			display: block;
		}

	}
}

.logo-container {
	position: relative;
}


/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

	.container.logo-container img.sun {
		width: 300px;
		position: absolute;
		top: 0px;
		right: -125px;
		margin: 0px;
	}

}

.section {
	padding: 32px 0px;
}

 .about-purple {
		background-color: #870096;

		margin: 50px 0px;

		ul { padding-left: 0px; }

		img.pltw {
			.pull-right;
			width: 300px;
		}

		p, li {
			color: #FFF;
		}

		a {
			text-decoration: none;
		}
	}
